<%- include("partials/header.ejs") %>

    <div class="px-4 py-5 my-5 text-center"> 
        <h1 class="display-5 fw-bold text-body-emphasis">Abdullah's Books</h1> 
        <div class="col-lg-6 mx-auto"> 
            <p class="lead mb-4">All the books I have ever read! Sort as you like.</p> 
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center"> 
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Newest</button> 
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Rating</button> 
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Title</button> 
            </div> 
        </div> 
    </div>

    <div class="container col-xxl-8 px-4 py-5"> 
        <% books.forEach(book => { %>
            <div class="row flex-lg-row align-items-center g-5 py-5"> 
                <div class="col-10 col-sm-8 col-lg-6"> 
                    <img src="https://covers.openlibrary.org/b/olid/OL7440033M-S.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy"> 
                </div> 
                <div class="col-lg-6"> 
                    <h4 class="display-6 fw-bold text-body-emphasis lh-1 mb-3"> <%= book.title %> </h4> 
                    <p class="lead col">Author: <%= book.author %></p>
                    <div class="row">
                        <p class="lead col">Date Read: <%= book.date_read.toISOString().slice(0,10) %></p>
                        <p class="lead col">Rating: <%= book.rating %></p>
                    </div>
                    <p class="lead"><%= book.notes %></p>
                    <a href="/edit/<%= book.id %>" class="btn btn-outline-secondary btn-lg px-4">Edit</a>
                </div> 
            </div>
        <% }) %> 
    </div>

<%- include("partials/footer.ejs") %>